Package: funskydev.nbn2
Name: NoBannerName2
Version: 0.1
Architecture: iphoneos-arm
Description: Tweak that hides the title of notification banners.
Maintainer: Funsky Dev
Author: Funsky Dev
Section: Tweaks
Depends: mobilesubstrate
